@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeue.ttc');
}

body {
  margin: 0;
  font-family: 'HelveticaNeue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
