* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.starter {
    background-image: url('./img/shutterstock_2189773743\ 1.png');
    min-height: 100vh;
    min-width: 100vw;
}

.redberry--logo {
    margin-left: 70px;
    margin-top: 25px;
    width: 236px;
    height: 38px;
}

.line {
    margin-left: 70px;
    margin-top: 26px;
    width: 1780px;
    height: 5px;
    background-color: #D9D9D9;
}

.resume--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 728px;
    margin-top: -260px;
    max-width: 324px;
    max-height: 24px;
    padding: 18px 60px;
    background-color: black;
    color: white;
    border-radius: 8px;
    z-index: 2; 
}


.logo {
    margin-left: 1078px;
    margin-top: 384px;
    width: 299px;
    height: 299px;
    z-index: 1;
}